.bgimage {
    height:100vh;
    width: 100%;
    background-size:cover;
    position:relative;
}

.typewriter{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .typewriter h1 {
    color: rgb(67, 255, 67);
    font-family: 'Silkscreen';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .14em; /* Adjust as needed */
    font-size: 3.7vw;
    animation: 
      typing 4s steps(26, end),
      blink-caret 1s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    50% {width: 50%;}
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke }
  }

.restimage {
    background-color: black;
    background-image: url("./static/images/other_img.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.sectiontitles {
    font-family: 'Silkscreen';
    color: aquamarine;
    font-size: 8vh;
}

.nav-link{
    font-family: 'Jura';
    font-size: 1.47vw;
    font-weight: bold;
    color: rgb(64, 255, 204);
}

.abouttext {
    font-family: 'Jura';
    font-weight: bold;
    color: rgb(163, 255, 165);
    font-size: 1.7vw;
    margin-top: 2vh;
}

.meimg {
    width: auto;
    margin-top: 8vh;
    height: 23rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 8.5vw;
    animation: glow 1s linear infinite alternate;
}

@keyframes glow{
    from {
        box-shadow: none;
    }
    to {
      box-shadow: 0px 0px 30px 20px aqua;
    }
  }

  

.newsec {
    padding-top: 19vh;
}

.skilltext {
    font-family: 'Jura';
    font-weight: bolder;
    color: whitesmoke;
    font-size: 1.7vw;
    margin: 5vh 4vw 2vh 4vw;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");


@-webkit-keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@-webkit-keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.experience {
  border-left: 3px solid #47ef2d;
  padding: 0 30px;
  margin-left: 185px;
  margin-top: 10vh;
}
@media (max-width: 767px) {
  .experience {
    margin-left: 5px;
    padding-right: 5px;
  }
}
.experience .item {
  position: relative;
  margin-bottom: 40px;
}
.experience .item::before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000000;
  border: 3px solid #47ef2d;
}
.experience .item::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.experience .company-name {
  color: #47ef2d;
  font-size: x-large;
}
.experience .location {
  position: absolute;
  right: 0;
  top: 2px;
}
.experience .location .fa {
  margin-right: 8px;
}
.experience .job-info {
  position: absolute;
  left: -200px;
  top: 0;
}
.experience .job-info .title {
  color: rgb(58, 249, 144);
  font-weight: bolder;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width: 767px) {
  .experience .job-info {
    position: static;
    margin-bottom: 1rem;
  }
}

.duration {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.fa-ul{
    color: aquamarine;
    font-family: 'Jura';
    font-size:larger;
}

.proglang {
  margin: 3vh 4vw 2vh 3.7vw;
  display: inline-block;
}

.skillcat {
  margin: 5.8vh 0 2vh 4vw;
  font-family: 'Silkscreen';
  color: aquamarine;
  display: inline-block;
}

.textlinks{
  color: aquamarine;
  text-decoration: none;
}

.texthighlight{
  color:aqua;
}

.expcard-left {
  background-color: lightgreen;
  margin: 7vh 1.5vw 0 5vw;
  width: auto;
}

.expcard-right {
  background-color: lightgreen;
  margin: 7vh 5vw 0 1.5vw;
  width: auto;
}

.image-card {
  padding: auto;
}

.text-cont {
  margin: 3vh 0 0 0;
  font-family: 'Jura';
  font-size: 1.3rem;
}

.projcard {
  margin: 1vh 5vw 1vh 4vw;
  background-color: lightgreen;
  padding: 2vh 1vw 2vh 1vw;
  overflow: hidden;
}

.projtitle {
  font-family: 'Jura';
  color: black;
  font-weight: bold;
}

.projimg {
  height: 100%;
  width: 100%;
  object-fit:contain;
  border-radius: 2.5%;
}

.projdes {
  font-family: 'Jura';
  color: black;
}

.contactlinks {
  font-family: 'Jura';
  text-decoration: none;
  margin: 0 0 0 4vw;
  font-size: 4.3rem;
  color: lightgreen;
}

footer {
  position: relative;
  height: 10vh;
  width: 100%;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: lightgreen;
  line-height: 40px;
  font-size: 1.3em;
  text-align: center;
  bottom:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.card-block {
  width: 67%;
}

.card-header {
  width: 33%;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

.smbtn {
  margin: 0;
  position: absolute;
  left: 40%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 1vw;
  border-radius: 10px;
}

.smbtn :hover {
  background-color: lightblue;

}

.btncon {
  text-align: center;
}

.awd {
  font-size: 1.4em;
}